<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue demo</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        名字：<input v-model='name'>
        年龄：<input v-model='age'>
        <h1>{{personInfo}}</h1>
        <img v-bind:src="link" alt="">
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                link: 'http://img.pconline.com.cn/images/upload/upc/tx/photoblog/1101/05/c9/6463314_6463314_1294233125593_mthumb.jpg',
                name: 'Joanna',
                age: '5'
            },
            computed: {
                personInfo: function(){
                   return this.name + ' ' + this.age * 3;
                }
            }
        })
    </script>
</body>
</html>